* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f3f4f6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #91cfc8;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links button {
  background: red;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
}

/* HEADER */
.header h1 {
  font-size: 32px;
}

.header p {
  color: gray;
}

/* TABS */
.tabs {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.tab {
  padding: 10px 15px;
  background: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.tab.active {
  background: #91cfc8;
}

/* CONTENT */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* APPOINTMENT CARD */
.appointment-card {
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
}

/* BUTTON */
button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #91cfc8;
  border-radius: 6px;
  cursor: pointer;
}

/* BADGES */
.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 12px;
}

.high {
  background: red;
  color: white;
}

.low {
  background: green;
  color: white;
}

/* SMALL BUTTON */
.small-btn {
  padding: 6px 10px;
  border: none;
  background: #91cfc8;
  border-radius: 5px;
  cursor: pointer;
}